.about {
  color: white;
  padding: 50px 100px; /* Adjust as needed */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}
.aboutContent {
  max-width: 960px; /* Adjust based on your layout */
  margin: auto;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}
.aboutContent h1,
.aboutContent h2 {
  color: #ffffff;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.aboutContent p {
  color: #dddddd;
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}
.dota-color {
  color: #c2352d; /* Red-like color for Dota2 */
}

.lol-color {
  color: #007bff; /* Blue color for League of Legends */
}

.memberContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.member {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 1.5rem;
  margin: 1rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
  width: clamp(300px, 100%, 600px);
}
.member .text-link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.member .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.member .image-box {
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  position: relative;
  width: 200px;
  height: 200px;
}
.member .image-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}
.member .image-box:hover::before {
  border-color: #007bff; /* Example color */
  animation: trace-border 2s infinite linear;
}
@keyframes trace-border {
  0% {
    border-top-color: #007bff;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    border-top-color: #007bff;
    border-right-color: #007bff;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    border-top-color: #007bff;
    border-right-color: #007bff;
    border-bottom-color: #007bff;
    border-left-color: transparent;
  }
  75% {
    border-top-color: #007bff;
    border-right-color: #007bff;
    border-bottom-color: #007bff;
    border-left-color: #007bff;
  }
  100% {
    border-color: #007bff;
  }
}
/* Dota-themed styles for Josip */
.dota-player .image-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.dota-player .image-box:hover::before {
  border-color: rgba(
    194,
    53,
    45,
    0.7
  ); /* Dota-themed red color for the trace border */
  animation: trace-border-dota 2s infinite linear;
}

@keyframes trace-border-dota {
  0% {
    border-top-color: rgba(194, 53, 45, 0.7);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    border-top-color: rgba(194, 53, 45, 0.7);
    border-right-color: rgba(194, 53, 45, 0.7);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    border-top-color: rgba(194, 53, 45, 0.7);
    border-right-color: rgba(194, 53, 45, 0.7);
    border-bottom-color: rgba(194, 53, 45, 0.7);
    border-left-color: transparent;
  }
  75% {
    border-top-color: rgba(194, 53, 45, 0.7);
    border-right-color: rgba(194, 53, 45, 0.7);
    border-bottom-color: rgba(194, 53, 45, 0.7);
    border-left-color: rgba(194, 53, 45, 0.7);
  }
  100% {
    border-color: rgba(194, 53, 45, 0.7);
  }
}

.text-content {
  color: #ccc;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.link-content {
  color: #ccc;
  height: 180px;
}

.profile-link {
  color: #ffffff;
  background-color: #555; /* Neutral color for links */
  padding: 0.5rem 1rem; /* Add some padding */
  border-radius: 15px; /* Rounded borders for the links */
  margin-top: 0.5rem; /* Space above the links */
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.profile-link:hover {
  background-color: #777; /* Darker background on hover */
  color: #ddd; /* Slightly lighter text on hover */
}
/* Dota-themed styles for Josip */
.dota-player .text-content,
.dota-player .link-content {
  background-color: rgba(194, 53, 45, 0.2); /* Dota 2 color */
  padding: 1rem;
  border-radius: 5px;
  margin: 0.5rem 0;
  color: white;
}
.dota-player .profile-link {
  color: #c2352d; /* A deep red color for the links */
}
.dota-player .profile-link:hover {
  text-decoration: underline;
  color: #a42c27; /* Darker shade of red for hover */
}
/* LoL-themed styles for Haris */
.lol-player .text-content,
.lol-player .link-content {
  background-color: rgba(0, 123, 255, 0.2); /* LoL color */
  padding: 1rem;
  border-radius: 5px;
  margin: 0.5rem 0;
  color: white;
}
.lol-player .profile-link {
  color: #007bff; /* Bright blue color for the links */
}
.lol-player .profile-link:hover {
  text-decoration: underline;
  color: #0056b3; /* Darker shade of blue for hover */
}
/* Responsive desing */
@media screen and (max-width: 768px) {
  .about {
    padding: 20px; /* Smaller padding for mobile devices */
    margin-top: 5rem;
  }
  .aboutContent {
    padding: 1rem; /* Smaller padding for the content container */
    border-radius: 5px; /* Optional: smaller border-radius for a subtler effect */
  }
  .aboutContent h1,
  .aboutContent h2 {
    font-size: 1.2rem; /* Smaller font size for headings */
    margin-bottom: 0.5rem; /* Less margin between headings */
  }
  .aboutContent p {
    font-size: 0.9rem; /* Smaller font size for paragraphs */
    line-height: 1.6; /* Adjust line height for readability */
    margin-bottom: 1rem; /* Less margin at the bottom of paragraphs */
  }
  .memberContainer {
    gap: 0.5rem; /* Smaller gap between members */
  }
  .member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr; /* Stack image and content vertically */
    padding: 1rem; /* Smaller padding */
    margin: 0.5rem 0; /* Less margin around each member */
  }
  .member .image-box {
    width: 100px; /* Smaller image size */
    height: 100px; /* Keep aspect ratio */
    margin-bottom: 0.5rem; /* Add margin to the bottom instead */
  }
  .member .image-box img {
    width: 100%; /* Ensure image fills the container */
    height: auto; /* Maintain aspect ratio */
  }
  .member .text-link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Full width */
  }
  .link-content {
    display: flex; /* Make it a flex container */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    width: 100%; /* Take up full width of the parent container */
    margin-top: 1rem; /* Add some space above */
  }

  .profile-link {
    padding: 0.5rem 1rem; /* Adjust padding if necessary */
    width: auto; /* Allow the link to size according to its content */
    text-align: center; /* Ensure text inside the link is centered */
  }
}

@media screen and (max-width: 480px) {
  .aboutContent {
    max-width: 100%; /* Full width on very small screens */
  }
  .member .text-link-wrapper,
  .member .profile-link {
    width: 100%; /* Full width for text and links */
  }
}

.divider {
  margin-bottom: 10px;
}
