.about {
  color: white;
  padding: 50px 100px; /* Adjust as needed */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}
.aboutContent h1,
.aboutContent h2 {
  color: white;
  background: rgba(255, 255, 255, 0.1);
}

.aboutContent p {
  font-size: 16px; /* Consistent font size */
  line-height: 1.6;
  margin-bottom: 1rem;
  background: rgba(255, 255, 255, 0.1);
}
.memberContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.member {
  background: rgba(255, 255, 255, 0.1); /* Slight background for member cards */
  border-radius: 10px;
  padding: 20px;
  margin-top: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 20px;
}
.member .text-link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.member .image-box {
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.member .image-box img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.text-content {
  color: #ccc;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.link-content {
  color: #ccc;
}
.profile-link {
  color: #1976d2;
  text-decoration: none;
}

.profile-link:hover {
  text-decoration: underline;
}
