.search-bar {
  padding: 10px 10px 10px 40px; /* Adjust left padding to make room for the icon */
  border: 1px solid #ffffff;
  margin-top: 50px;
  border-radius: 4px;
  height: 4rem;
  width: 15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(0, 0, 0, 0.5)
    url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/search.svg")
    no-repeat 10px center;
  border-radius: 10px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}
@keyframes dropOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(
      50px
    ); /* Adjust the value to control the drop distance */
  }
}

.dropped-out {
  animation: dropOut 0.5s forwards ease-in;
}
@media (max-width: 768px) {
  .search-bar {
    width: 90%; /* Adjust based on preference */
    margin-top: 20px; /* Smaller margin */
  }
}
