body {
  margin: 0;
  background-color: white;
  overflow-x: hidden;
  list-style-type: none;
  padding: 0;
}
.App {
  padding-left: 0px;
  background-color: #f8f8f8;
  min-height: 100vh;
}

.charContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 250px;
  row-gap: 100px;
  padding: 6rem;
  margin-left: 17rem;
}

.characters {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}
.characters p {
  display: block;
}

.character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.character img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
