* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: white;
  overflow-x: hidden;
  list-style-type: none;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f8f8;
  width: 100%;
  overflow-x: hidden;
}

.AppBody {
  display: flex;
  flex-grow: 1;
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/backgrounds/greyfade.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}

.content {
  flex-grow: 1;
  margin-left: 15rem;
}
