.charPage {
  background-color: rgb(255, 255, 255);
}

.charContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 100px;
  padding: 2rem;
  margin-left: 6rem;
}

.characters {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.characters p {
  display: block;
  font-weight: bold;
}

.character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 2%;
  background-color: rgb(154, 201, 253);
}

.character img {
  width: 250px;
  height: 282px;
}
