.charPage {
  background-color: rgb(255, 255, 255);
}

.charContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 100px;
  padding: 2rem;
  margin-left: 6rem;
}

.characters {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.characters p {
  display: block;
  font-weight: bold;
}

.character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 2%;
  background-color: rgb(154, 201, 253);
}

.character img {
  width: 250px;
  height: 282px;
}

/* Character Details Page */
.character-details {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  /*overflow: hidden;*/
}
.character-blur-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(10px); /* Adjust the blur intensity as needed */
  z-index: 1;
}
.character-non-blur-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover; /* Or 'contain' depending on your preference */
  background-repeat: no-repeat;
  width: 85%; /* Adjust the size as needed */
  height: 90%; /* Adjust the size as needed */
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  backdrop-filter: blur(
    10px
  ); /* Optional: if you want the edges to be blurred */
  overflow: hidden;
}
.character-text-container {
  position: relative;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 100%;
  text-align: center;
}
.character-name {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  color: white;
  letter-spacing: 2px;
}
.character-description {
}
.character-game {
}
.character-attribute {
}
.character-attack {
}
.character-role {
}
.character-complexity {
}
