.complexity-indicator {
  display: flex;
  align-items: center;
  color: white;
}

.complexity-text {
  font-size: 1.2rem;
  margin-right: 8px;
  font-weight: bold;
}

.diamond {
  width: 20px; /* Diamond size */
  height: 20px;
  margin: 0 4px;
  background-color: #023342; /* Inactive diamond color */
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); /* Diamond shape */
}

.diamond.active {
  background-color: #08d7f7; /* Active diamond color */
  /* You can add an animation or transition if you like */
  transition: background-color 0.3s;
}
