.search-bar {
  padding: 10px;
  border: 1px solid #ffffff;
  margin-top: 50px;
  border-radius: 4px;
  height: 4rem;
  width: 30rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 2rem;
}
