aside {
  background-color: #000000ef;
  padding: 20px;
  width: 200px;
  min-height: 100vh;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 2;
}

aside ul {
  list-style: none;
  padding-left: 0px;
  padding-top: 20px;
}

aside ul li a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 10px;
  transition: background-color 0.3s;
}

aside ul li a:hover {
  background-color: #ddd;
}
